<section id="sign_in">
  <div class="sign_in_inner">
    <h2>Help Us Map Chicago's Historic Water Tanks</h2>
      <div class="sign_in_form">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.text_field :user_name, placeholder: 'Username', autofocus: true, autocomplete: "Username" %>
          </div>

          <div class="field">
            <%= f.email_field :email, placeholder: 'Email Address', autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <!-- <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br /> -->
            <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: 'Password', autocomplete: "off" %>
          </div>

          <div>
            <%= f.submit "Sign Up", class: "button" %>
          <div>
        <% end %>


      </div>
    </div>
  </section>
