<div class="profile-container">
  <div class="recent-tank-photo"><%= image_tag @user.photos.last.image.url(:medium) %></div>
  <div class="recent-activity-row">
    <div class="recent-activity">Last Activity <%= time_ago_in_words(@user.photos.last.created_at) %> ago in</div>
    <div class="latest-neighborhood"><%= @user.photos.last.tank_location.neighborhood %></div>
  </div>
  <div class="profile-stats-row">
    <div class="user-mapped-count"><%= @user.tank_locations.count %> Tanks Mapped</div>
    <div class="user-photo-count"><%= @user.photos.count %> Photos Added</div>
  </div>
  <div class="profile-row">
    <div class="profile-photo"><%= image_tag @user.profile_photo.url(:medium) %></div>
    <div class="profile-username"><%= @user.user_name %></div>
  </div>
</div>

<% @user_tanks_mapped.each do |tank| %>
  <li><%= link_to tank.address, tank_locations_path(tank) %></li>
<% end %>
