<%= render "layouts/map" %>

<section id="map_tank">
  <div class="map_tank_inner">
    <div id="map-a-tank">
      <div class="map_tank_form">
        <%= form_for(@tank_location, local: true) do |form| %>
         <% if tank_location.errors.any? %>
           <div id="error_explanation">
             <h2><%= pluralize(tank_location.errors.count, "error") %> prohibited this tank_location from being saved:</h2>

             <ul>
             <% tank_location.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
             </ul>
           </div>
         <% end %>

            <h2>Click the map to add a water tank</h2>
            <div>
             <%= form.text_field :latitude, id: :tank_location_latitude, class: 'form-control', type: 'hidden' %>
            </div>

            <div class="field form-group">
             <%= form.text_field :longitude, id: :tank_location_longitude, class: 'form-control', type: 'hidden' %>
            </div>

            <div>
             <%= form.text_field :address, placeholder: 'Address', id: :tank_location_address %>
            </div>

            <div>
             <%= form.select :neighborhood, get_neighborhood_names, id: :tank_location_neighborhood %>
            </div>

               <div>
                  <%= form.fields_for :photos do |photo_form| %>
                    <label class="fileContainer">
                      <%= photo_form.file_field :image, id: :photo_image %>
                      <i class="fa fa-camera"></i><p>Upload a Photo</p>
                    </label>
                  <% end %>
               </div>

               <div>
                 <%= form.submit "Submit", class: "button" %>
               </div>
          <% end %>
    </div>
    </div>
  </div>
</section>
