<section id="newest_tanks" class="clearfix">
  <div class="wrapper">
    <header class="clearfix">
      <h2>Mapped Recently</h2>
      <!-- <p class="view_more">View More</p> -->
    </header>

    <div class="row">
      <% @tank_locations.each do |tl| %>
        <div class="tank_location">
          <% if tl.photos.first %>
            <%= image_tag tl.photos.first.image.url(:medium) %>
          <% end %>
          <h3 class="address"><%= tl.address %></h3>
            <div class="mapped_by">
              <i class="fa fa-user" aria-hidden="true"></i><span class="mapped_by_user"><%= tl.user.email %></span>
            </div>
            <div class="neighborhood">
              <% if tl.neighborhood %>
                <i class="fa fa-map-marker" aria-hidden="true"></i><span class="neighborhood_label"><%= tl.neighborhood %></span>
              <% end %>
            </div>


          <% if user_signed_in? %>
            <p><%= link_to "Show", tank_location_path(tl) %></p>
            <p><%= link_to "edit", edit_tank_location_path(tl) %></p>
          <% else %>
            <p><%= link_to "Show", tank_location_path(tl) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pagination_wrapper">
    <div class="pagination clearfix">
      <%= will_paginate @tank_locations, previous_label: "Back", next_label: "More Tanks" %>
    </div>
  </div>

</section>
