<section id="newest_tanks" class="clearfix">
  <div class="wrapper">
    <header class="clearfix">
      <h2>Mapped Recently</h2>
      <!-- <p class="view_more">View More</p> -->
    </header>

    <div class="row">
      <% @tank_locations.each do |tl| %>
        <div class="tank_location">
          <% if tl.photos.first %>
            <%= image_tag tl.photos.first.image.url(:medium) %>
          <% end %>
          <h3 class="address"><%= tl.address %></h3>
            <div class="mapped_by">
              <i class="fa fa-user" aria-hidden="true"></i><span class="mapped_by_user"><%= tl.user.user_name %></span>
            </div>
            <div class="neighborhood">
              <% if tl.neighborhood %>
                <i class="fa fa-map-marker" aria-hidden="true"></i><span class="neighborhood_label"><%= tl.neighborhood %></span>
              <% end %>
            </div>

          <div class="tank_location_buttons">
            <% if (user_signed_in? && (current_user.id == tl.user_id)) %>
              <button class="show_button">
                <%= link_to "View", tank_location_path(tl) %>
              </button>
              <button class="edit_button">
                <%= link_to "Edit", edit_tank_location_path(tl) %>
              </button>
            <% else %>
              <button class="show_button">
                <%= link_to "View", tank_location_path(tl) %>
              </button>
            <% end %>
          </div>


        </div>
      <% end %>
    </div>
  </div>

  <div class="pagination_wrapper">
    <div class="pagination clearfix">
      <%= will_paginate @tank_locations, previous_label: "Back", next_label: "More Tanks" %>
    </div>
  </div>

</section>
