<h1>TankLocations</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Lat</th>
    <th>Long</th>
  </tr>
  <% @tank_locations.each do |tl| %>
    <tr>
      <td><%= tl.address %></td>
      <td><%= tl.longitude %></td>
      <td><%= tl.latitude %></td>
      <% if current_user %>
        <td><%= link_to "Show", tank_location_path(tl) %></td>
        <td><%= link_to "edit", edit_tank_location_path(tl) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <%= link_to "Map a Water Tank", new_tank_location_path%>
<% end %>
