<section id="show_wrapper" class="clearfix">
	<section id="single_tank_map">

		<div class="single_tank_info">
			<p>Address:<br><%= @tank_location.address %></p>
			<p>Mapped By:<br><%= @tank_location.user.user_name %></p>
			<p>Neighborhood:<br><%= @tank_location.neighborhood %></p>
		</div>

			<%= render "layouts/map" %>

			<%= render partial: "comments/comments", locals: {commentable: @tank_location} %>
			<%= render partial: "comments/form", locals: {commentable: @tank_location} %>

	</section>

	<section id="single_tank_photos" >

			<div id="display-single-tank-photos">

				<div class="row">

					<% @tank_location.photos.order(:cached_votes_up => :desc).each do |photo| %>

						<div class="tank_info_wrapper">
							<div class="tank-image">
								<%= image_tag photo.image.url(:medium) %>
							</div>
							<% if photo.user.user_name %>
								<p class="tank_info"><i class="fa fa-camera" aria-hidden="true"></i>  <span class="photo_credit"><%= photo.user.user_name  %></span> </p>
							<% end %>
							<% if current_user %>
								<div class="voting">
									<div class="vote_counter">
										<%= link_to like_photo_path(photo), method: 'PUT' do %>
											<i class="fa fa-heart" aria-hidden="true"></i> <span class="vote_count"><%= photo.get_upvotes.size %> </span>
										<% end %>
									</div>
								</div>
							<% end  %>

							<% if !current_user %>
								<div class="voting">
									<div class="vote_counter">
											<i class="fa fa-heart" aria-hidden="true"></i> <span class="vote_count"><%= photo.get_upvotes.size %> </span>
									</div>
								</div>
							<% end  %>

							<!-- <div class="like_count">
								<%= photo.get_upvotes.size %> <%=  "Like".pluralize(photo.get_upvotes.size) %>
							</div> -->

						</div>

					<% end %>

				</div>

			</div>

			<%= render partial: "photos/form", locals: {tank_location: @tank_location} %>

	</section>
</section>
