<!DOCTYPE html>
<html>
  <head>
    <title>WaterTanks</title>
    <%= csrf_meta_tags %>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyAdMxmqeoadgTqFE1WPpXcS98fRSSKGR9o" ></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body class="contianer <%= controller_name %>_<%= action_name %>">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Chicago Water Tanks", root_path , class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to "Add Water Tank", new_tank_location_path(anchor: 'map-a-tank'), class: "nav-item nav-link"  %>
            <%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "nav-item nav-link"  %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "nav-item nav-link"  %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link"  %>
          <% end %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <% unless current_page?(controller: 'devise/sessions', action: 'new') || current_page?(controller: 'devise/registrations', action: 'new') %>
      <%= render "layouts/header" %>
    <% end %>

    <%= yield %>


  </body>

   <%= render "layouts/footer" %>

</html>
